# Created by .ignore support plugin (hsz.mobi)


.idea
*.iml
*.ipr
*.iws
.project
.classpath
.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.log
*/*.ipr
*/*.iws
*/build
bin/*
target/*
.install.swp
npm-debug.log
ezclound-server/src/main/webapp/static/js/page/.module-cache/*
